
body{
    background-image: url(download.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

button{
    color: cyan;
    
}
button:hover{
    background-color: aqua;

}
a{
    text-decoration: none;
}
#title{
    background-color: aqua;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
.bgdesign{
    background-color: 	#F88379;
    height: 850px;
    width: 1800px;
    /* justify-content: center; */
    margin-left: 51px;
    margin-top: 30px;
    border-radius: 30px;
    
}
.nav table{
    text-align: center;
    /* font-family: 'Lobster', cursive; */


}
.nav table img{
    height: 55px;
    width: 55px;
}
.navbar{
    margin-top: 5px;
}