
body{
    background-image: url(download.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


button{
    color: cyan;
}
button:hover{
    background-color: aqua;

}
a{
    text-decoration: none;
}
#title{
    background-color: aqua;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}