body{
    background-image: url(/assets/img/fantasy-magical-landscape-rainbow-on-600w-1049693714.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: pink;
    background-attachment: fixed;
}
#main img{
   position: absolute;
   left: 260px;
   top: 400px;
   border-radius: 30px;
 }
   #title {
    position: absolute;
    left: 80px;
    border-radius: 30px;
    top: 30px;

}
.navbar {
    position: absolute;
    left: 1000px;
}
button {
    background-color: transparent;
    border: none;
}
a {
    text-decoration: none;

}
#navbar {
    height: 75px;
    width: 1100px;
    background-color: white;
    position: absolute;
    top: 30px;
    left: 670px;
    border-radius: 25px;

}
#navbar1 {
    height: 75px;
    width: 1100px;
    background-color: black;
    position: absolute;
    top: 120px;
    left: 670px;
    border-radius: 25px;

}
#home {
    position: absolute;
    left: 90px;
    top: -10px;
}
#home:hover {
    color: blueviolet;
}
#cat {
    position: absolute;
    left: 240px;
    top: 19px;
}
#cat:hover {
    color: orange;
}
#fun {
    position: absolute;
    left: 450px;
    top: -10px;
}
#fun:hover {
    color: palevioletred;
}
#us {
    position: absolute;
    left: 630px;
    top: -10px;
}
#us:hover {
    color: red;
}
#navbar p {
    font-size: 30px;
    margin-left: 100px;
    color: #000;
    font-family: 'Fuzzy Bubbles', cursive;
}
#navbar select {
    font-size: 30px;
    margin-left: 80px;
    color: #000;
    font-family: 'Fuzzy Bubbles', cursive;
    background-color: transparent;
    border: none;
}
#navbar1 p {
    font-size: 30px;
    margin-left: 150px;
    margin-top: 17px;
    color: rgb(255, 255, 255);
    font-family: 'Fuzzy Bubbles', cursive;
}
#footer {
    background-color: white;
    position: absolute;
    top: 2300px;
    left: 3px;
    height: 200px;
    width: 1900px;
    border-radius: 20px;
}
#fb {
    position: absolute;
    /* border-radius: 30px; */
    top: 30px;
    left: 600px;
    height: 50px;
}
#insta {
    position: absolute;
    /* border-radius: 30px; */
    top: 30px;
    left: 750px;
    height: 50px;
}
#twiter {
    position: absolute;
    /* border-radius: 30px; */
    top: 30px;
    left: 900px;
    height: 50px;
}
#yt {
    position: absolute;
    /* border-radius: 30px; */
    top: 30px;
    left: 1050px;
    height: 50px;
}
#ln {
    position: absolute;
    /* border-radius: 30px; */
    top: 30px;
    left: 1200px;
    height: 50px;
}
#cr {
    position: absolute;
    /* border-radius: 30px; */
    top: 120px;
    left: 650px;
    height: 20px;
}
#cr1 {
    position: absolute;
    left: 700px;
    top: 100px;
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 20px;

}
#cr2 {
    position: absolute;
    left: 550px;
    top: 125px;
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 20px;

}
#back{
    height: 100px;
    position: absolute;
    top: 250px;
    left: 50px;
}
#next{
    height: 100px;
    position: absolute;
    top: 250px;
    left: 1750px;
}