*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url('/assets/img/5160791.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.main {
    background-color: white;
    height: 800px;
    width: 1500px;
    margin-top: 55px;
    margin-left: 200px;
    border-radius: 20px;
    background-image: url(/assets/img/Vecteezy_Watercolor03-Background_ZM0321_generated.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: violet 0 0 20px 20px;
    

}

img {
    height: 250px;
    justify-content: center;
    

}
/* #design{
    position: re;
    left: 140px;
    border-radius: 80px;
    height: 50%;
    width: auto;
} */
.navbar{
    position: absolute;
    margin-left: 1100px;
    margin-top: -140px;
}
p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 23px;
}
#home{
    position: absolute;
    top: -70px;
    left: -250px;
    font-family: 'Fuzzy Bubbles', cursive;
    
}
#cat{
    position: absolute;
    top: -70px;
    left: -130px;
    font-family: 'Fuzzy Bubbles', cursive;
    background-color: transparent;
}
#fun{
    position: absolute;
    top: -70px;
    left: 40px;
    font-family: 'Fuzzy Bubbles', cursive;
}
#about{
    position: absolute;
    top: -70px;
    left: 188px;
    font-family: 'Fuzzy Bubbles', cursive;
}
select{
    position: absolute;
    top: -70px;
    left: -130px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 23px;
    border: none;
    background-color: white;
    margin-left: -10px;
    
    
}
/* p:hover{
    background-color: red;
    height: 70px;
    width: 90px;
    border-radius: 20px;
    
}
select:hover{
    background-color: red;
    color: white;
}
a:hover{
    color: white;
} */
#pic{
    position: absolute;
    left: 620px;
    top: 200px;
    height: 400px;
}
#para{
    
    position: absolute;
    top: 650px;
    left: 600px;
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 30px;
}
#para2{
    
    position: absolute;
    top: 690px;
    left: 400px;
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 30px;
}
#para3{
    
    position: absolute;
    top: 730px;
    left: 545px;
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 30px;
}
a{
    text-decoration: none;
}

#back{
    position: absolute;
    height: 60px;
    top: 400px;
    left: 400px;
}
#front{
    position: absolute;
    height: 60px;
    top: 400px;
    left: 1430px;
}
