body {
    background-image: url('/assets/img/AlertMerryFugu-size_restricted.gif');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.navbar {
    position: absolute;
    left: 1000px;
}

button {
    background-color: transparent;
    border: none;
}

#navbar {
    height: 75px;
    width: 1100px;
    background-color: white;
    position: absolute;
    top: 30px;
    left: 670px;
    border-radius: 25px;

}

#navbar1 {
    height: 75px;
    width: 1100px;
    background-color: black;
    position: absolute;
    top: 120px;
    left: 670px;
    border-radius: 25px;

}

#homy{
    position: absolute;
    left: 100px;
    top: -10px;

}

#home {
    position: absolute;
    left: 100px;
    top: -10px;
}

/* #home:hover {
    color: blueviolet;
} */
#cat {
    position: absolute;
    left: 240px;
    top: -10px;
}

/* #cat:hover {
    color: orange;
} */
#fun {
    position: absolute;
    left: 450px;
    top: -10px;
}

/* #fun:hover {
    color: palevioletred;
} */
#us {
    position: absolute;
    left: 630px;
    top: -10px;
}

/* #us:hover {
    color: red;
} */
#navbar p {
    font-size: 30px;
    margin-left: 100px;
    color: #000;
    font-family: 'Fuzzy Bubbles', cursive;
}

/* #navbar p:hover {
color: white;

} */

#navbar1 p {
    font-size: 30px;
    margin-left: 150px;
    margin-top: 17px;
    color: rgb(255, 255, 255);
    font-family: 'Fuzzy Bubbles', cursive;
}

#title {
    position: absolute;
    left: 80px;
    border-radius: 30px;
    top: 30px;

}

#images {
    /* position: absolute; */
    left: 250px;
}

#images img {
    border-radius: 20px;
    box-shadow: 0 0 50px 10px violet;


}

/* #images img:hover {
    transition: 1.5s;
    opacity: 0.9;
    box-shadow: 0 0 50px 5px black;
    width: auto;
    display: flex;

} */
#frog {
    position: absolute;
    top: 300px;
    left: 120px;
    height: 220px;

}

#frog:hover {
box-shadow: 0 0 50px 5px black;
}

#fro {
    position: absolute;
    top: 300px;
    left: 450px;
    height: 220px;
}

#fr {
    position: absolute;
    top: 300px;
    left: 770px;
    height: 220px;
}

#f {
    position: absolute;
    top: 300px;
    left: 1090px;
    height: 220px;
}

#two {
    font-size: 25px;
    /* margin: 20%; */
    margin-top: 540px;
    margin-left: 150px;
    font-family: 'Kalam', cursive;
    font-weight: bold;


}

#rat {
    font-size: 25px;
    /* margin: 20%; */
    position: absolute;
    top: 515px;
    margin-left: 500px;
    font-family: 'Kalam', cursive;
    font-weight: bold;
}

#cofee {
    font-size: 25px;
    /* margin: 20%; */
    position: absolute;
    top: 515px;
    margin-left: 790px;
    font-family: 'Kalam', cursive;
    font-weight: bold;
}

#elephant {
    font-size: 25px;
    /* margin: 20%; */
    margin-top: -105px;
    margin-left: 1140px;
    font-family: 'Kalam', cursive;
    font-weight: bold;
}

#images2 {
    position: absolute;
    left: 250px;
    top: -350px;
}

#images2 img {
    border-radius: 20px;
    box-shadow: 0 0 50px 10px violet;


}

#images2 img:hover {
transition: 1.5s;
opacity: 0.9;
box-shadow: 0 0 50px 20px white;
width: auto;
display: flex;

}

#image {
    position: absolute;
    top: 700px;
    left: 120px;
    height: 220px;

}

#image2 {
    position: absolute;
    top: 700px;
    left: 450px;
    height: 220px;
}

#image3 {
    position: absolute;
    top: 700px;
    left: 770px;
    height: 220px;
}

#image4 {
    position: absolute;
    top: 700px;
    left: 1090px;
    height: 220px;
}

#p1 {
    font-size: 25px;
    /* margin: 20%; */
    margin-top: 940px;
    margin-left: 165px;
    font-family: 'Kalam', cursive;
    font-weight: bold;
    color: white;


}

#p11 {
    position: absolute;
    color: white;
    font-family: 'Kalam', cursive;
    font-weight: bold;
    font-size: 25px;
    top: 950px;
    left: 145px;

}

#p2 {
    font-size: 25px;
    /* margin: 20%; */
    position: absolute;
    top: 920px;
    margin-left: 500px;
    font-family: 'Kalam', cursive;
    font-weight: bold;
    color: white;
}

#p22 {
    position: absolute;
    color: white;
    font-family: 'Kalam', cursive;
    font-weight: bold;
    font-size: 25px;
    top: 950px;
    left: 535px;

}

#p3 {
    font-size: 25px;
    /* margin: 20%; */
    position: absolute;
    top: 920px;
    margin-left: 850px;
    font-family: 'Kalam', cursive;
    font-weight: bold;
    color: white;
}

#p33 {
    position: absolute;
    color: white;
    font-family: 'Kalam', cursive;
    font-weight: bold;
    font-size: 25px;
    top: 950px;
    left: 810px;

}

#p4 {
    font-size: 25px;
    /* margin: 20%; */
    margin-top: -60px;
    margin-left: 1140px;
    font-family: 'Kalam', cursive;
    font-weight: bold;
    color: white;
    align-content: center;
}

#p44 {
    position: absolute;
    color: white;
    font-family: 'Kalam', cursive;
    font-weight: bold;
    font-size: 25px;
    top: 950px;
    left: 1170px;

}

/* #frog:hover {
transition: 1.5s;
opacity: 0.9;
box-shadow: 0 0 50px 5px black;
width: auto;
display: flex;
} */

#pic {
    position: absolute;
    top: 700px;
    left: 120px;
    height: 220px;

}

#pic2 {
    position: absolute;
    top: 700px;
    left: 450px;
    height: 220px;
}

#pic3 {
    position: absolute;
    top: 700px;
    left: 770px;
    height: 220px;
}

#pic4 {
    position: absolute;
    top: 700px;
    left: 1090px;
    height: 220px;
}

#images3 {
    position: absolute;
    left: 250px;
    top: 0;
}

#images3 img {
    border-radius: 20px;
    box-shadow: 0 0 50px 10px violet;


}

/* #images3 img:hover {
transition: 1.5s;
opacity: 0.9;
box-shadow: 0 0 50px 20px white;
width: auto;
display: flex;

} */

#para1 {
    font-size: 25px;
    /* margin: 20%; */
    margin-top: 940px;
    margin-left: 155px;
    font-family: 'Kalam', cursive;
    font-weight: bold;
    color: white;
}

#para11 {
    font-size: 25px;
    /* margin: 20%; */
    margin-top: -25px;
    margin-left: 160px;
    font-family: 'Kalam', cursive;
    font-weight: bold;
    color: white;


}

#para2 {
    font-size: 25px;
    /* margin: 20%; */
    position: absolute;
    top: 920px;
    margin-left: 479px;
    font-family: 'Kalam', cursive;
    font-weight: bold;
    color: white;
}

#para22 {
    font-size: 25px;
    /* margin: 20%; */
    margin-top: -62px;
    margin-left: 470px;
    font-family: 'Kalam', cursive;
    font-weight: bold;
    color: white;


}

#para3 {
    font-size: 25px;
    /* margin: 20%; */
    position: absolute;
    top: 920px;
    margin-left: 810px;
    font-family: 'Kalam', cursive;
    font-weight: bold;
    color: white;
}

#para33 {
    font-size: 25px;
    /* margin: 20%; */
    margin-top: -70px;
    margin-left: 850px;
    font-family: 'Kalam', cursive;
    font-weight: bold;
    color: white;


}

#para4 {
    font-size: 25px;
    /* margin: 20%; */
    margin-top: -100px;
    margin-left: 1155px;
    font-family: 'Kalam', cursive;
    font-weight: bold;
    color: white;
    align-content: center;
}

#para44 {
    font-size: 25px;
    /* margin: 20%; */
    margin-top: -35px;
    margin-left: 1175px;
    font-family: 'Kalam', cursive;
    font-weight: bold;
    color: white;


}

#picture {
    position: absolute;
    top: 700px;
    left: 120px;
    height: 220px;

}

#picture2 {
    position: absolute;
    top: 700px;
    left: 450px;
    height: 220px;
}

#picture3 {
    position: absolute;
    top: 700px;
    left: 770px;
    height: 220px;
}

#picture4 {
    position: absolute;
    top: 700px;
    left: 1090px;
    height: 220px;
}

#ima {
    position: absolute;
    left: 250px;
    top: 360px;
}

#ima img {
    border-radius: 20px;
    box-shadow: 0 0 50px 10px violet;


}

/* #ima img:hover {
transition: 1.5s;
opacity: 0.9;
box-shadow: 0 0 50px 20px white;
width: auto;
display: flex;

} */

#paragraph1 {
    font-size: 25px;
    /* margin: 20%; */
    margin-top: 940px;
    margin-left: 150px;
    font-family: 'Kalam', cursive;
    font-weight: bold;
    color: white;
}

#paragraph11 {
    font-size: 25px;
    /* margin: 20%; */
    margin-top: -34px;
    margin-left: 160px;
    font-family: 'Kalam', cursive;
    font-weight: bold;
    color: white;
}

#paragraph2 {
    font-size: 25px;
    /* margin: 20%; */
    position: absolute;
    top: 920px;
    margin-left: 500px;
    font-family: 'Kalam', cursive;
    font-weight: bold;
    color: white;
}

#paragraph22 {
    font-size: 25px;
    /* margin: 20%; */
    margin-top: -57px;
    margin-left: 510px;
    font-family: 'Kalam', cursive;
    font-weight: bold;
    color: white;
}

#paragraph3 {
    font-size: 25px;
    /* margin: 20%; */
    position: absolute;
    top: 920px;
    margin-left: 807px;
    font-family: 'Kalam', cursive;
    font-weight: bold;
    color: white;
}

#paragraph33 {
    font-size: 25px;
    /* margin: 20%; */
    margin-top: -67px;
    margin-left: 800px;
    font-family: 'Kalam', cursive;
    font-weight: bold;
    color: white;
}

#paragraph4 {
    font-size: 25px;
    /* margin: 20%; */
    margin-top: -90px;
    margin-left: 1127px;
    font-family: 'Kalam', cursive;
    font-weight: bold;
    color: white;
    align-content: center;
}

#paragraph44 {
    font-size: 25px;
    /* margin: 20%; */
    margin-top: -30px;
    margin-left: 1160px;
    font-family: 'Kalam', cursive;
    font-weight: bold;
    color: white;
}

#pict {
    position: absolute;
    top: 700px;
    left: 120px;
    height: 220px;

}

#pict2 {
    position: absolute;
    top: 700px;
    left: 450px;
    height: 220px;
}

#pict3 {
    position: absolute;
    top: 700px;
    left: 770px;
    height: 220px;
}

#pict4 {
    position: absolute;
    top: 700px;
    left: 1090px;
    height: 220px;
}

#im {
    position: absolute;
    left: 250px;
    top: 360px;
}

#im img {
    border-radius: 20px;
    box-shadow: 0 0 50px 10px violet;
    margin-top: 350px;


}

/* #im img:hover {
transition: 1.5s;
opacity: 0.9;
box-shadow: 0 0 50px 20px white;
width: auto;
display: flex;

} */

#gra1 {
    font-size: 25px;
    /* margin: 20%; */
    margin-top: 1280px;
    margin-left: 140px;
    font-family: 'Kalam', cursive;
    font-weight: bold;
    color: white;
}

#gra11 {
    font-size: 25px;
    /* margin: 20%; */
    margin-top: -30px;
    margin-left: 175px;
    font-family: 'Kalam', cursive;
    font-weight: bold;
    color: white;
}

#gra2 {
    font-size: 25px;
    /* margin: 20%; */
    position: absolute;
    top: 1260px;
    margin-left: 500px;
    font-family: 'Kalam', cursive;
    font-weight: bold;
    color: white;
}

#gra22 {
    font-size: 25px;
    /* margin: 20%; */
    margin-top: -65px;
    margin-left: 545px;
    font-family: 'Kalam', cursive;
    font-weight: bold;
    color: white;
}

#gra3 {
    font-size: 25px;
    /* margin: 20%; */
    position: absolute;
    top: 1260px;
    margin-left: 820px;
    font-family: 'Kalam', cursive;
    font-weight: bold;
    color: white;
}

#gra33 {
    font-size: 25px;
    /* margin: 20%; */
    margin-top: -65px;
    margin-left: 800px;
    font-family: 'Kalam', cursive;
    font-weight: bold;
    color: white;
}

#gra4 {
    font-size: 25px;
    /* margin: 20%; */
    margin-top: -90px;
    margin-left: 1125px;
    font-family: 'Kalam', cursive;
    font-weight: bold;
    color: white;
    align-content: center;
}

#gra44 {
    font-size: 25px;
    /* margin: 20%; */
    margin-top: -40px;
    margin-left: 1165px;
    font-family: 'Kalam', cursive;
    font-weight: bold;
    color: white;
}

#footer {
    background-color: white;
    position: absolute;
    top: 2000px;
    left: 3px;
    height: 200px;
    width: 1900px;
    border-radius: 20px;
}

#fb {
    position: absolute;
    /* border-radius: 30px; */
    top: 30px;
    left: 600px;
    height: 50px;
}

#insta {
    position: absolute;
    /* border-radius: 30px; */
    top: 30px;
    left: 750px;
    height: 50px;
}

#twiter {
    position: absolute;
    /* border-radius: 30px; */
    top: 30px;
    left: 900px;
    height: 50px;
}

#yt {
    position: absolute;
    /* border-radius: 30px; */
    top: 30px;
    left: 1050px;
    height: 50px;
}

#ln {
    position: absolute;
    /* border-radius: 30px; */
    top: 30px;
    left: 1200px;
    height: 50px;
}

#cr {
    position: absolute;
    /* border-radius: 30px; */
    top: 120px;
    left: 650px;
    height: 20px;
}

#cr1 {
    position: absolute;
    left: 700px;
    top: 100px;
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 20px;

}

#cr2 {
    position: absolute;
    left: 550px;
    top: 125px;
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 20px;

}