
body{
    background-image: url(download.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
/* h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

button{
    color: cyan;
    
}
button:hover{
    background-color: aqua;

}

#title{
    background-color: aqua;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
.bgdesign{
    background-color: 	#F88379;
    height: 850px;
    width: 1800px;
    /* justify-content: center; */
    margin-left: 51px;
    margin-top: 30px;
    border-radius: 30px;
    
} */
.navbar ul li img{
    height: 25px;
    width: 25px;
}
.navbar{
    background-color: #2BAE66FF;
    height: 80px;
    width: 100%;
}
h1{
    position: absolute;
    padding: 3px;
    float: left;
    margin-left: 2%;
    margin-top: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
ul{
    width: auto;
    margin-top: 8px;

}
li{
    display: inline-block;
    padding: 15px 30px;


}
a{
    text-decoration: none;
    text-align: center;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
a:hover{
    color: blue;
    transition: 5s;

}